<ons-page>

<head>
    <link rel="stylesheet" type="text/css" href="./css/top.css">
</head>

    <br />
    <br />
    <br />
    <br />
    <p id="title">めくりめくなめくじ</p>
    <div Align="center">
        <img id='slug' src='./elements/sozai_003.png' width='200' height='140'>
    </div>
    <br />
    
    <div style="text-align: center;">
        <ons-button 
            onclick="checkCurrentUser()">
            START!!
        </ons-button>
    <!--    
        <ons-button 
            ng-click="myNavigator.pushPage('page1.html')">
            Page1
        </ons-button>
        <ons-button onclick="logout()">logout</ons-button>
        
        
        <br />
        <br />
        <ons-button
            ng-click="myNavigator.pushPage('navigator.html')">
            メインページ
        </ons-button>
        
        <br />
        <br />
    
    <br />
        <input type="button" onClick="getInstallationId();" value="getInstallationID" />
     -->   
    </div>

</ons-page>