<ons-page>

<head>
    <link rel="stylesheet" type="text/css" href="./css/top.css">
</head>

    <br />
    <br />
    <br />
    <br />
    <p id="title">めくりめくなめくじ</p>
    <p>ここになめくじの画像を入れたい。</p>
    <br />
    <br />
    
    <div style="text-align: center;">
        <ons-button 
            ng-click="myNavigator.pushPage('login.html')">
            START!!
        </ons-button>
        
        <ons-button 
            ng-click="myNavigator.pushPage('page1.html')">
            Page1
        </ons-button>
        
        
        <br />
        <br />
        <ons-button
            ng-click="myNavigator.pushPage('navigator.html')">
            メインページ
        </ons-button>
    </div>

</ons-page>