/* This is a CSS file */
/**:not(.inner):not(.gauge_wrap):not(.gauge_main):not(.center):not(.left):not(#slug){
    background-image:url("../elements/background.png");
}*/
#slug{
    margin:200px 60px 0px;
}

#Go_Me{
    position:absolute;
    left:150px;
    top:300px;
}

#hunger{
    margin:20px 0px 50px 0px;
}

#onaka{
    color:#ff33cc;
}

.gauge_wrap li > div {
    background: -moz-linear-gradient(top, #555, #222);
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
    border: solid 5px #000;
    width: 150px;
    height: 22px;
}

.gauge_wrap{
    margin-top:-30px;
    margin-left:-35px;
}
.gauge_wrap .gauge_main {
    background: -moz-linear-gradient(top, #0FF, #0FF);
    background: -webkit-gradient(linear, left top, left bottom, from(#0FF), to(#0FF));
    background:#0FF;
    height: 22px;
}

#namespace {
    position: absolute;
    color: white;
    border:solid 3px #222;
    border-radius: 5%;
    border-style: ridge;
    background: #8b4513;
    margin:auto;
    right: 1%;
    top: 5px;
    width: 8em;
    text-align: right;
    padding-right: 10px;
}

#now_weather {
    position: absolute;
    top: 50px;
    left:20%;
    right:20%;
}